<div class="container">
  <div class="col-md-6">
    <div class="panel">
      <div class="panel-heading text-center">
        <h2>Search Results</h2>
      </div>
      <div class="panel-body">
        <div class="row">
          <table class="table-hover col-sm-12">
            <tr>
              <th>Type of Service</th>
              <th>Distance</th>
              <th>Duration</th>
              <th>Estimated Price</th>
              <th>Availability</th>
            </tr>
            <% @data.each do |d| %>
            <tr>
              <td><%= d[:mode] %></td>
              <td><%= d[:distance] %></td>
              <td><%= d[:duration] %></td>
              <td><%= d[:price] %></td>
              <td><%= d[:availability] %></td>
            </tr>
            <% end %>
          </table>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <%= render partial: "search_form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <!-- <iframe width="600" height="450" frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/directions?origin=Santa+Monica,+CA,+United+States&destination=San+Francisco,+CA,+United+States&key=AIzaSyBJHptJsjF1gs_K-Y595e9JmUx24VMQtgo" allowfullscreen></iframe> -->
      <div class="panel">
        <div class="panel-body">
          <iframe width="510" height="315" src= <%= @map_url %>  

            frameborder="0" allowfullscreen>

          </iframe> 
        </div>
      </div>
      
      <%= @map %>
  </div>
</div>






