
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">My Rides</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
        <!-- <li><a href="#">Link</a></li> -->
      </ul>
      <% if signed_in_user? %>
        Welcome, <%= link_to current_user.name, current_user %>!

        <li><%= link_to "Logout", session_path, :method => :delete %></li>
      <% else %>
        <%= form_tag new_session_path, :class=>"navbar-form navbar-left" do %>

          <%= label_tag do %>
            Email
            <%= text_field_tag :email %>
          <% end %>

          <%= label_tag do %>
            Password
            <%= password_field_tag :password  %>
          <% end %>

          <%= submit_tag "Log in", :class=>"btn btn-default" %>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Sign Up", new_user_path %></li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>




